/* .leaflet-tooltip{
    border: 1px solid grey;
} */
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    border: none !important;
}

.leaflet-tooltip-bottom {
    border: none !important;
    padding: 0%;
    margin-top: 0.85rem;
    background: none;
    border-radius: 0%;
    /* background-color: transparent; */
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    -webkit-text-stroke: 0.15px rgb(170, 170, 170);
    color: rgb(12, 47, 77);
    box-shadow: none;
    z-index: 500;
    white-space: pre-wrap;
    text-align: center;
    min-width: 16ch;
}

.leaflet-tooltip-top {
    margin-top: -1.125rem;
    border-radius: 5px;
    /* font-family: Roboto, Oxygen, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: sans-serif;
    border: none;
    padding: 5px 5px;
    background-color: rgba(238, 238, 238, 0.75);
    backdrop-filter: blur(3px);
    z-index: 501;
    /* font-size: large; */
}

.custom-popup .leaflet-popup-content-wrapper {
    padding: 0;
    background: none;
    border-radius: 5px;
    box-shadow: none;
}

.custom-popup .leaflet-popup-tip {
    background: #1e90ff;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.custom-popup .leaflet-popup-tip-container {
    display: none;
}

.custom-popup .leaflet-popup-content {
    width: max-content;
    max-width: 180px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.popup-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    color: black;
}

.popup-header {
    /* background-color: #1e90ff; */
    background-color: #1f63a7;
    color: white;
    padding: 6px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    text-align: center;
}

.popup-content {
    padding: 10px;
}

.popup-content div {
    margin-bottom: 5px;
}

.popup-content div:last-child {
    margin-bottom: 0;
}

.logger-label-light {
    color: rgb(12, 47, 77);
    -webkit-text-stroke: 0.15px rgb(170, 170, 170);
    text-shadow: 2px 2px rgb(223, 223, 223);
}

.logger-label-dark {
    color: rgb(232, 255, 24);
    -webkit-text-stroke: 0.25px rgb(49, 49, 49);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.blinking {
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Media query for screens smaller than 640px */
@media (min-width: 680px) {
    .leaflet-tooltip-bottom {
        font-size: x-small;
        font-weight: 500;
    }
}

@media (min-width: 1600px) {
    .leaflet-tooltip-bottom {
        font-size: small;
        font-weight: lighter;
    }
}